@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --gray-900: #202024;
  --gray-700: #323238;
  --gray-600: #3D3D3D;
  --gray-400: #8D8D99;
  --gray-200: #EEE;
  --gray-100: #F5F5F5;
  --white: #FFF;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray-900);

  background-color: var(--gray-100);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.search-icon {
  display: none;
}

.container {
  padding: 1.3rem 3.2rem;
  margin: 0 auto;
  width: 100%;
}

main {
  margin-bottom: 5.1rem;
  background-color: var(--gray-100);
}

header nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;

  font-size: 1.7rem;
  font-weight: 700;
  color: var(--gray-400);
}

ul li,
.avatar:hover {
  cursor: pointer;
}

ul li.active {
  color: var(--gray-900);
}

.logo {
  width: 3.8rem;
  transition: all 200ms ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

header form {
  flex: 1;
}

nav ul {
  list-style: none;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.3rem;

  background-color: var(--gray-200);
  border-radius: 0.5rem;
  border: 0;

  font-size: 1.6rem;
  opacity: 0.56;
  color: var(--gray-600);
  opacity: 0.56;
}

main h1 {
  font-size: 2.4rem;
  font-weight: 700;

  margin-top: 1.6rem;
}

.gallery {
  margin: 3.2rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.item {
  background-color: var(--white);
  border-radius: 0.8rem;

  overflow: hidden;
}

.item img {
  width: 100%;
  display: block;

  aspect-ratio: 16/9;
  object-fit: cover;

  transition: all 300ms ease-in-out;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(100%) saturate(150%);
  transform: scale(1.1) rotate(-2deg);
  cursor: pointer;
}

.details {
  padding: 2.2rem;

  background-color: var(--white);
  z-index: 1;
  position: relative;
}

.details h2 {
  font-size: 1.9rem;
  font-weight: 700;
}

.tags {
  margin-top: 1.2rem;
}

.tags span {
  font-size: 1.2rem;
  text-transform: uppercase;

  padding: 0.6rem;
  background-color: var(--gray-100);
  border-radius: 0.4rem;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;

  text-align: center;
  font-weight: 600;
  color: var(--gray-700);
  background-color: var(--white);
}

header {
  --startY: -100%;
  animation: move .4s;

  background-color: var(--white);
}

footer {
  --startY: 100%;
  animation: move .4s;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
  --delay: .4;
  animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }
}

/* Media Queries */

@media(min-width: 1024px) {
  .container {
    padding: 1.6rem 5%;
  }
}

@media(max-width: 890px) {
  :root {
    font-size: 50%;
  }
}

@media(max-width: 690px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 665px) {
  .search-icon {
    display: inline;
  }

  .search-icon:hover {
    cursor: pointer;
  }

  form>div {
    display: none;
  }

  .search-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

@media(max-width: 440px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}